= form_with model: daily_report, data: { controller: "daily-report-form" } do |form|
  - if daily_report.errors.any?
    #error_explanation
      %h2= "#{daily_report.errors.count}件のエラーがあります"
      %ul
        - daily_report.errors.full_messages.each do |message|
          %li= message

  .field
    .space-y-2
      .flex.items-center.gap-2
        = check_box_tag :include_toggl, true, true, class: "form-checkbox", data: { daily_report_form_target: "togglCheckbox" }
        = label_tag :include_toggl, '作業時間', class: "text-sm text-gray-700"
      .flex.items-center.gap-2
        = check_box_tag :include_github, true, true, class: "form-checkbox", data: { daily_report_form_target: "githubCheckbox" }
        = label_tag :include_github, 'PRの情報', class: "text-sm text-gray-700"

  .field
    = form.label :content, "内容"
    = form.text_area :content, rows: 10, data: { daily_report_form_target: "contentTextarea" }

  .actions
    = button_tag '取得', type: 'button', data: { action: "daily-report-form#generate" }, class: "btn btn-primary"
