= form_with model: daily_report do |form|
  - if daily_report.errors.any?
    #error_explanation
      %h2= "#{daily_report.errors.count}件のエラーがあります"
      %ul
        - daily_report.errors.full_messages.each do |message|
          %li= message

  .field
    = form.label :report_date, "日付"
    = form.date_field :report_date

  .field
    = form.label :content, "内容"
    = form.text_area :content, rows: 10

  .actions
    = form.submit
